@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');

/* HOME SCREEN */
body {
    font-family: 'Oswald', sans-serif;
}

h1 {
    text-align: center;
    padding: 20px;
    margin: 30px 40px 30px 40px;
}

#start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 100px;
    flex-direction: column;
}

/* GAME SCREEN */

.game-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
}

.user-chance button {
    border-style: none;
    background-color: white;
    padding: 20px;
    margin: 0px 20px 0px 20px;
    cursor: pointer;
    outline: none;
    transition: 100ms;
}

.user-chance button:hover {
    transform: scale(1.1);
}

.results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.5rem;
    justify-items: center;
    align-items: center;
    margin-top: 5rem;
}

.curr-game {
    text-align: center;
    margin-top: 30px;
}

.curr-game-res {
    font-size: 24px;
}

.result-selection {
    padding-top: 50px;
    opacity: 0.7;
}

.result-selection.winner {
    opacity: 1;
}